<ion-header>
  <ion-toolbar>
    <ion-title>Cursos del Profesor(a):   {{ nombreTeacher }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <div *ngFor="let curso of cursos" >
        <div *ngFor="let dia of curso.dias" size-md="12">
          <ion-col size="auto" size-md="3" *ngIf="getDiaActual() === dia">
            <ion-card>
              <ion-img class="imagen-asignatura" src="{{ curso.imagen }}" alt="Imagen Asignatura"></ion-img>
              <ion-card-header>
                {{ curso.nombre }}
              </ion-card-header>
              <ion-card-content *ngIf="claseActiva && curso.mostrarContenido">
                <p>Profesor: {{ curso.professor }}</p>
                <p>Cantidad de Alumnos: {{ curso.cantidadAlumnos }}</p>
                <p>Sala: {{ curso.room }}</p>
                <qrcode 
                  [qrdata]="QrCode"
                  [width]="1024"
                  [elementType]="'img'"
                  [errorCorrectionLevel]="'L'">
                </qrcode> 
              </ion-card-content>

              <div *ngIf="getHoraActual() >= curso.horarioIcicial && getHoraActual() <= curso.horarioFinal ">
                <ion-button expand="full" (click)="iniciarClase(curso)">
                  {{ curso.mostrarContenido ? 'Terminar Clase' : 'Iniciar Clase' }}
                </ion-button>
              </div>
            </ion-card>
          </ion-col>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>


