<ion-content>
  <ion-grid class="margin-top-navbar">
    <!-- Lunes -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Lunes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>1. Materia 1</p>
            <p>2. Materia 2</p>
            <p>3. Materia 3</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Martes -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Martes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>1. Materia 4</p>
            <p>2. Materia 5</p>
            <p>3. Materia 6</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Miércoles -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Miércoles</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>1. Materia 7</p>
            <p>2. Materia 8</p>
            <p>3. Materia 9</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Jueves -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Jueves</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>1. Materia 10</p>
            <p>2. Materia 11</p>
            <p>3. Materia 12</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Viernes -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Viernes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>1. Materia 13</p>
            <p>2. Materia 14</p>
            <p>3. Materia 15</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Sábado -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Sábado</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>1. Materia 16</p>
            <p>2. Materia 17</p>
            <p>3. Materia 18</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
