<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Control de Asistencia</ion-title>
    <p *ngIf="logout" (click)="logoutUser()">Cerrar Sesion</p>
  </ion-toolbar>
</ion-header> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Control de Asistencia</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logoutUser()">
        <ion-avatar slot="start">
          <img src="assets/img/navbar/user.png" alt="Avatar del usuario">
        </ion-avatar>
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
