<ion-content>
  <div class="margin-top-navbar">
    <!-- Genera un Codigo QR -->
    <ion-card class="ion-text-center">
      <ion-card-content>
        <qrcode 
          [qrdata]="QrCode"
          [width]="256"
          [errorCorrectionLevel]="'M'">
        </qrcode>    
      </ion-card-content>
    </ion-card>

    <ion-button
     expand="block"
     class="ion-margin"
     (click)="startScan()">
     Escanear Código QR
    </ion-button>

    <ion-item *ngIf="scannedResult">
      <ion-label class="ion-text-wrap">Scanned Result: {{scannedResult}}</ion-label>
    </ion-item>
  </div>
</ion-content>
