<ion-content>
  <div class="margin-top-navbar">
    <ion-button
     expand="block"
     class="ion-margin"
     (click)="startScan()">
     Escanear Código QR
    </ion-button>

    <ion-item *ngIf="scannedResult">
      <!-- <ion-label class="ion-text-wrap">Scanned Result: {{scannedResult}}</ion-label> -->
      <ion-label class="ion-text-wrap">Curso: {{course}}</ion-label>
      <ion-label class="ion-text-wrap">Sala: {{room}}</ion-label>
      <ion-button expand="full" (click)="enterClass()">Entrar</ion-button>
    </ion-item>

  <!-- <ion-button expand="full" (click)="enterClass()">Entrar</ion-button> -->
  </div>
</ion-content>
