@import 'src/theme/variables.scss';

@include alertMessage;

.container-class {
  max-width: 25%;
}

.imagen-asignatura {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.qrcode canvas {
  width: 100%;
}

